<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mon blog</span>
  <span class="nav-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/create-post">
    Ajouter un article
  </button>
  <button mat-raised-button color="primary" routerLink="/posts">
    Articles
  </button>
  <button mat-raised-button color="primary" routerLink="/admin">
    Administration
  </button>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
