<div class="search-box">
  <mat-form-field appearance="outline">
    <mat-label>Rechercher...</mat-label>
    <input type="text" matInput [(ngModel)]="title" />
    <button mat-button matSuffix (click)="searchPost()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="empty" *ngIf="searchResults.length == 0">
  <mat-icon>no_sim</mat-icon>
  <br />
  <span>Rien à afficher ici</span>
</div>

<div class="posts-card" *ngFor="let post of searchResults">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="post-avatar"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle
        >Publié par: {{ post.author }} à {{ post.createdAt | date : "medium" }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-grid-list cols="5">
      <mat-grid-tile [colspan]="2" rowspan="1">
        <img
          mat-card-image
          [src]="post.image"
          [alt]="post.title"
          class="post-img"
        />
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" rowspan="1">
        <mat-card-content>
          {{
            post.content.length > 1000
              ? post.content.substr(0, 1000) + "..."
              : post.content
          }}
        </mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>

    <hr />

    <mat-card-actions align="end">
      <button mat-raised-button>
        {{ post.likeCount }}<mat-icon>favorite</mat-icon>
      </button>
      <button mat-raised-button style="margin-left: 5px">
        {{ post.viewCount }}<mat-icon>remove_red_eye</mat-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        style="margin-left: 5px"
        routerLink="/post/{{ post.id }}"
      >
        <mat-icon>library_books</mat-icon>Voir plus
      </button>
    </mat-card-actions>
  </mat-card>
</div>
