.post-form {
  margin: auto;
  width: 600px;
  margin-top: 10px;
  padding: 30px;
}
mat-card-header {
  margin: auto;
  margin-bottom: 15px;
}
mat-divider {
  margin-bottom: 12px;
}

mat-form-field {
  // display: block;
  width: 100%;
}
mat-card-actions {
  float: right;
}
